.card {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 13px;
}

.card--star {
  max-width: 15px;
}

.star--container {
  display: flex;
  gap: 7px;
  padding-top: 5px;
}

.coverImg {
  height: 250px;
}
