.card {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 13px;
  position: relative;
}
.card--badge {
  position: absolute;
  top: 5px;
  left: 15px;
  padding: 0px 3px;
  background-color: white;
  padding-top: 6px;
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  border-radius: 5px;
}
.card--star {
  max-width: 15px;
}

.star--container {
  display: flex;
  gap: 7px;
  padding-top: 5px;
}

.coverImg {
  height: 250px;
}

.card:first-child {
  padding-left: 20px;
}

.card:first-child .card--badge {
  left: 25px;
}

.card:last-child {
  padding-right: 20px;
}
